div{
    width: 40%;
    height: 20%;
    border-width: 2px;
    border-style: solid;
    border-color: crimson;
    margin-left: 200px;
    padding-left: 20%;
}
#Excuse me{
    
    
    margin-bottom: 200px;
    padding-left: 10%;
}